.LoginMain {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginError {
    height: 30px;
    text-align: center;
}

.LoginFormWrapper {
    width: 100%;
    max-width: 340px;
}
