$inputWidth: 250px;

.wordsBlock {
    min-height: 200px;
}

.wordsEmpty {
    font-size: 20px;
    text-align: center;
}

.wordsList {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
}

.wordsListItem {
    margin-bottom: 12px;
    &:first-child {
        margin-bottom: 0;
    }
}

.wordsInputsWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.wordsField {
    display: flex;
    flex-direction: column;
}

.wordsFieldTitle {
    font-size: 20px;
    margin: 0 0 10px 0;
}

.wordsInputBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wordsInput {
    margin-right: 5px;
    width: $inputWidth;
    flex-shrink: 0;
    margin-bottom: 5px;
}

.wordsInputsSeparator {
    margin: 0 30px;
    cursor: default;
}

.wordsInputDescription {
    width: $inputWidth;
    line-height: 1.2;
}
