.card {
    font-size: 18px;
    text-align: center;
    perspective: 1000px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;

    &.done {
        .cardInner {
            transform: rotateY(180deg);
        }
    }

    &.remembered {
        .cardInner {
            text-decoration: line-through;
        }
    }
}

.cardInner {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-decoration: inherit;
    width: 170px;
    padding: 30px 10px;
    margin-right: 20px;
    cursor: pointer;
}

.cardFront,
.cardBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 6px 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    text-decoration: inherit;
    font-style: italic;
    margin: 0;
    overflow: hidden;
}

.cardFront {
    background-color: #cec298;
    color: #333;
}

.cardBack {
    background-color: #3b7375;
    color: rgba(255, 255, 255, 0.66);
    transform: rotateY(180deg);
}

.cardRememberButton {
    margin-right: 10px;
    svg {
        fill: #333;
    }
}

.cardDeleteButton {
    svg {
        fill: #f34141;
    }
}
