.topPanel {
    width: 100%;
    padding: 10px 30px;
    background-color: #66a075;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.topPanelLogo {
    font-size: 20px;
}

.topPanelMenuList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: baseline;
}

.topPanelMenuItem {
    margin-right: 30px;
    &:last-child {
        margin-right: 0;
    }
    // todo:
    a {
        color: #333;
        &:hover {
            color: #555;
        }
    }
}
