body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

button,
input,
a {
    &:focus {
        outline: 2px solid #5bff60;
    }
}

button,
input {
    color: inherit;
    font-family: inherit;
}

button {
    cursor: pointer;
    &:disabled {
        cursor: not-allowed;
    }
}

.button-reset {
    font-family: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
}

.button-icon {
    padding: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    svg {
        width: 24px;
        height: 24px;
    }
}

.error-text {
    color: #ff4d4f;
}

.link {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

// todo: remove
.ant-spin-show-text {
    color: #333 !important;
}
.ant-spin-dot-item {
    background-color: #333 !important;
}
